@model FindKočka.Models.Cat

@{
    ViewData["Title"] = "Details";
}

<style type="text/css">
    body {
        background: linear-gradient(to left, rgb(246, 211, 101), rgb(253, 160, 133));
        margin: 0;
    }
</style>

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4 profile" style="width: 30rem;">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <img src="@("../../image/" + @Html.ValueFor(model => model.ImageName))" class="card-img-top" />
            <span class="name mt-3"><h1>@Html.DisplayFor(model => model.Name)</h1></span>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number"><span class="follow">Age </span>@Html.DisplayFor(model => model.Age)</span> </div>
            <div class="mt-3"> <span>@Html.DisplayFor(model => model.Description)</span> </div>
            <h6 class="card-subtitle mb-1 text-muted" style="margin-top:40px"><u>@Html.DisplayFor(model => model.OwnerName)</u></h6>
            <h6 class="card-subtitle text-muted" style="margin-top:20px">@Html.DisplayFor(model => model.OwnerEmail)</h6>
            <h6 class="card-subtitle text-muted" style="margin-top:10px">@Html.DisplayFor(model => model.OwnerNumber)</h6>
        </div>
    </div>
</div>

